extends layout.pug

block content
  section#content
    h2= text
    if hint
      p
        i Hint: #{hint}

    if side==="question"
      a(href=`${querylessUrl}?side=answer`) ANSWER
    else
      a(href=`${querylessUrl}?side=question`) QUESTION