extends layout.pug

block content
  section#content
    h2= text
    if hint
      p
        i Hint: #{hint}

    if hint
      button(style={"background-color":"lightblue", border:"1px black solid"})
        a(href=`${querylessUrl}?side=answer` style={"text-decoration":"none",padding:"10px 40px"}) ANSWER
    else
      button(style={"background-color":"lightblue", border:"1px black solid"})
        a(href=`${querylessUrl}?side=question` style={"text-decoration":"none",padding:"10px 40px"}) QUESTION

    br
    br
    a(href="/cards") NEXT CARD