doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The Shit is in my Mouth Now!
    p Cupcake ipsum dolor sit amet topping donut. Wafer dessert brownie sweet roll. I love pudding carrot cake cake I love. Wafer gummies halvah jujubes. Muffin muffin topping. Pudding gummies toffee cake liquorice chocolate cake marzipan. I love bear claw gummi bears carrot cake chocolate bar marshmallow I love. Cake pudding donut chocolate cake I love toffee soufflé. Caramels marshmallow biscuit gummies croissant jelly-o cupcake. Topping toffee caramels lemon drops muffin. Jelly-o pie apple pie tiramisu I love sweet. Macaroon jelly beans cake. I love sugar plum icing pudding dessert sugar plum pudding chupa chups.

    