extends app.pug

block intro
  h1.namecard-prompt Let's get started
  form.card-set-select-form(action='/cards' method='POST')
    label(for='card-set-select') Choose a card set:
    select#card-set-select(name='cardSet')
      option(value='javascript') JavaScript
      option(value='random') Kitty Treats
    input.namecard-submit(type='submit' value='Beagin!')
  
