doctype html
html(lang="en")
  head
    title Flash Cards
  body

    //- includes header components
    include includes/header.pug

    //- any template extending the layout puts html here
    block content
    
//- includes footer component
include includes/footer.pug