doctype html
html(lang="en")
  head
    title Flash Cards
    link(rel='stylesheet', href="/static/stylesheets/style.css")
  body

    //- includes header components
    include includes/header.pug

    //- any template extending the layout puts html here
    block main